/*
Magenta : #ED1651 237 22 81

*/
/*TEST*/
#preview {
  border:					solid thin silver;
  padding:				2em;
  margin:					0 10%;
  text-align:				center;
  box-shadow:				0 0 2em silver;
}

#preview {
  padding-bottom: 100px;
}
preview-coverflow .cover {
  cursor:		pointer;
  width:		100px !important;
  height:		100px !important;
  box-shadow:	0 0 4em 1em white;
}

.cover {
  /*background-color: white !important;*/
  border: 3px solid black;
  border-radius: 50%;
}

/* GLOBAL */

body {
  padding: 0 !important;
  /*margin: 0 !important;*/
}

h1 {
  text-transform: uppercase;
}

.jumbotron {
  margin: 0;
}

/* END GLOBAL */

/* HEADER */

/* nav */

nav {
  margin: 0 !important;
  border-radius: 0 !important;
  /*background-color: yellow;*/
  min-height: 99px !important;
  background-color: white !important;
}

.navbar-header {
  min-height: 100px !important;
}

.navbar-toggle {
  height: 50px;
  width: 50px;
  margin-top: 25px;
}

.navbar-nav li a {
  height: 100px;
  line-height: 60px;
  color: #ED1651 !important;
}

.navbar-nav li:hover, .navbar-nav li:hover a, .navbar-nav li.active a {
  background-color: #ED1651 !important;
  color: white !important;
}

.icon-bar {
  background-color: white ! important;
}

.navbar-brand {
  padding: 0;
}

nav button {
  margin: 0;
  background-color: white !important;
  border-radius: 50px !important;
  border: 4px solid #ED1651 !important;
  position: relative;
}

.fa-square {
  font-size: 0.7em;
  background-color: #ED1651 !important;
  color: #ED1651 !important;
  position: absolute;
}

.fa-square:nth-child(1) {
  top: 8px;
  left: 17px;
}

.fa-square:nth-child(2) {
  top: 25px;
  left: 17px;
}

#logo {
  height: 100px;
  width: auto;
}

/* end nav */

/* END HEADER */

/* PRESENTATION */

#presentation {
  margin-top: 100px;
  height: auto;
  min-height: 500px;
  background: url(../images/presentation.jpg) no-repeat center 0;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px black; /*, 0 1px black, 1px 0 black, 0 0px black;*/
  text-align: center;
}

#presentation h1 {
  /*color: black;*/
}

/* END PRESENTATION */

/* TROMBINOSCOPE */

/*#trombinoscope img {
  height: 100px;
  width: auto;
  background-color: white !important;
  border: 1px solid #ED1651;
  border-radius: 50px;
}*/

#trombinoscope {
  text-align: center;
}

#trombinoscope h1, h2 {
  color: #ED1651;
}

#trombinoscope hr {
  width: 40%;
  border: 1px solid #ED1651;
  /*color: #E74C3C;*/
}

.member {
  /*border: 2px solid green;*/
  margin-bottom: 20px;
}

.member:hover {
  background-color: rgba(237, 22, 81, 0.5); !important;
}

.photo .description {
}

.photo img {
  height: 100px;
  width: auto;
  background-color: white !important;
  border: 1px solid black;
  border-radius: 50px;
}

#trombinoscope .pagination_members a {
  color: #ED1651 !important;
  border: 0;
  background: none;
}

#trombinoscope .pagination_members a:hover {
  border: 0;
  background: rgba(237, 22, 81, 0.5);
  color: white !important;
}

#trombinoscope .pagination_members .active a {
  border: 0;
  background: #ED1651;
  color: white !important;
}

/* END TROMBINOSCOPE */

/* PARTNER */

#partners {
  min-height: 500px;
  background: url(../images/partner.jpg) no-repeat center 0;
  background-size: cover;
  color: white !important;
  text-shadow: 1px 1px black, 0 1px black !important;
  text-align: center;
}

#partners img {
  width: 100px;
  height: 100px;
}

#partners h2 {
  color: white !important;
  text-shadow: 1px 1px black, 0 1px black !important;
}

/* END PARTNER */

/* FOOTER */

footer {
  height: 100px;
  background-color: #ED1651;
}

#copyright, #madeby {
  height: 100px;
  display: inline-block !important;
  line-height:normal !important;
}

.v-center {
  line-height: 100px !important;
  color: white !important;
}
.normal {
  height: 50px !important;
  display: inline-block !important;
  line-height:normal !important;
}

.uppercase {
  text-transform: uppercase;
}
/* END FOOTER */

/* BACK TO TOP */

#back-to-top {
  position: fixed;
  right: 30px;
  top: 90%;
}

#back-to-top .my-icons
{
  text-align: center;
  display: inline-block;
  background-color: Transparent !important;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

#back-to-top button, #back-to-top button:hover, #back-to-top button:active {
  background-color: Transparent !important;
  outline: none !important;
  border: 2px solid black;
  border-radius: 50% !important;
  height: 30px !important;
  width: 30px !important;
  color: black;
}

#back-to-top button span {
  position: absolute;
  top: 0px;
  left: 6px;
}

/* END BACK TO TOP */
